@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Abril|Anonymous+Pro');

body {
	font-family: 'Anonymous Pro', monospace;
	color: white;
	background-color: #0A2342;
}

h1 {
	font-family: 'Abril Fatface', cursive;
	color: #E56B70;
	font-size:50px;
}

h3 {
	font-family: 'Anonymous Pro', monospace;
	color: #2CA58D;
}

a {
  color: white;
  text-decoration: underline;
  text-decoration-color: #2CA58D;
}

a:hover {
  color: #2CA58D;
  text-decoration: underline;
  text-decoration-color: #2CA58D;
}