@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Abril|Anonymous+Pro');

body {
	font-family: 'Anonymous Pro', monospace;
	color: white;
	background-color: #0A2342;
	height: 100vh;
}

h1 {
	font-family: 'Abril Fatface', cursive;
	color: #E56B70;
	font-size:55px;
}

h4 {
	color: #E56B70;
	font-size:30px;
}

h3 {
	font-family: 'Anonymous Pro', monospace;
	color: #2CA58D;
}

a {
  color: white;
  text-decoration: underline;
  text-decoration-color: #2CA58D;
}

a:hover {
  color: #2CA58D;
  text-decoration: underline;
  text-decoration-color: #2CA58D;
}

li {
	color: #84BC9C;
}

li > span {
	color: white;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}